$Color_Pictonblue: #38AEF0;
$Color_Charade: #253141;
$Color_White: #FFFFFF;
$Color_Pickledbluewood: #2f3e51;
$Color_Gallery: #eeeeee;
$Color_Silverchalice: #AAAAAA;
$Color_Mineshaft: #333333;
$Color_Mako: #434A54;
$Color_Stardust: #999999;
