$Color_Pictonblue: #38AEF0;
$Color_Darkgray: #253141;
$Color_White: #FFFFFF;
$Color_Gray: #2f3e51;
$Color_Palegray: #eeeeee;
$Color_Sunkengray: #AAAAAA;
$Color_Black: #333333;
$Color_Heavyblue: #434A54;
$Color_Silvergray: #999999;
